.container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
   background: linear-gradient(
    to right top,
    #000000,
    #0c0106,
    #120311,
    #120619,
    #0d0b22
  );;
}
.header{
  display: flex;
  padding-top: 40px;
  gap: 20px;
  flex-direction: column;
}
.header .txt1{
  font-size: 40px;
  text-align: center;
  color: #ffffffff;
  letter-spacing: 5px;

}
.header .txt2{
  font-size: 20px;
  color: #ffffffff;
  letter-spacing: 2px;
  text-align: center;
}
.form{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  background-color:#131117;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 20px;
  height: 60vh;
  

}
.form form{
 
 padding: 50px 20px;
 display: flex;
 justify-content: center;
 gap: 50px;
 flex-direction: column;
}
.form input{
  background-color: #131117;
  color: #ffff;
  padding: 10px;
 
  border: 1px solid white;
  outline: none;
  letter-spacing: 2px;

}

.form textarea{
  background:#131117;
  padding: 10px;
  resize: none;
  width: 120vb;
  height: 120px;
  border: none;
  color: #ffff;
  margin: auto;
  text-align: center;
  border: 1px solid white;
  outline: none;
  letter-spacing: 2px;
}
.form ::placeholder{
  color: white;
}
.btn1{
  display: flex;
  justify-content: center;
  padding: 10px 5px;

}
.btn1 button{
  padding: 5px 15px;
  background: #ff5858;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffff;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.5s;
}
.btn1 button:hover{
  background-color: #ffff;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn2 button{
  padding: 5px 15px;
  background: #ff5858;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffff;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.5s;
}
.btn2 button:hover{
  background-color: #ffff;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
