.container1{
    width: 100%;
    height: 100vh;

}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    letter-spacing: 5px;
}

.btn1 {
  --b: 3px;   
  --s: .45em; 
  --color: #373B44;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.btn1:hover,
.btn1:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  letter-spacing: 4px;
}

.btn1:active {
  background: var(--color);
  color: #fff;
}
.container1 .heading{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    line-height: 80px;
}
.btn2{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 25px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn2:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn2:hover:after {
  top: 0px;
  left: 0px;
}
.btncon{
    display: flex;
    justify-content: center;
    margin-top: 180px;
    letter-spacing: 5px;
}
.circle1{
    width: 349px;
    height: 350px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 15vh;
    z-index: -1;
    left: 20vb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.circle2{
    width: 449px;
    height: 450px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 20vh;
    z-index: -1;
    right: 30vb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 400px;
}
.txt1{
    color: #7367ff;
}
.scroll_data{
  display: flex;
  justify-content: center;
  text-align: center;
}
.left{
  font-size: 40px;
}
.mid{
  font-size: 40px;
}
.right{
  font-size: 40px;
}
.container2{
  width: 100%;
  flex-direction: column;
  height: 100vh;
  display: flex;
  gap: 50px;
}
.row1{
display: flex;
justify-content: space-between;
gap: 10px;
flex-direction: row;

}
.card1{
  width: 200px;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 button{
  border: none;
  outline: none;
  padding: 10px 20px;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.card1 button:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}
.cssdata{
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 2px;
  text-align: center;
}
